<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 上下文类</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table">
        <caption>上下文表格布局</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
        </tr>
        </thead>
        <tbody>

        <tr class="success">
            <th><span th:text="${s1.stuId}"></span></th>
            <th><span th:text="${s1.stuName}"></span></th>
            <th><span th:text="${s1.stuAge}"></span></th>
            <th><span th:text="${s1.stuSex}"></span></th>
        </tr>



</table>

    </tbody>

</body>
</html>
